* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #afb0af;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  color: #4f4d4d;
  flex-direction: column;
  border: solid 1px #cad8ca;
  height: 100vh;
  margin: 20px;
  padding: 20px;

  .header {
    padding: 10px;
    font-size: 30px;
  }
}
